@import "../../generalVariables.scss";

:root{
    --duration: 10s;
}

.container{
    background-color: black;
    display: flex;
    height: 12vh;
    width: 100%;

    .container__folder{
        align-items: center;
        padding-left: 7px;
        display: flex;
        height: 100%;
        overflow: hidden;
        width: 30rem;

        img{
            border-radius: 5px;
            height: 80%;
            object-fit: contain;
        }


        .container__folder__band{
            display: flex;
            flex-direction: column;
            height: 80%;
            justify-content: space-around;
            margin-left: 2rem;
            overflow-x: hidden;

            p{
                font-family: $main-title;
                width: 100%;
                white-space: nowrap;
            }

            p:first-child{
                display: inline;
                color: $white-font-color;
                transform-box: border-box;
            }
           
            p:nth-child(2){
                color: $grey-font;
                font-size: small;
            }

            .p-animation-active{
                animation: scrolling var(--duration) linear 2s;
            }

            @keyframes scrolling {
                0%{
                    transform: translateX(0%);
                }
                25%{
                    transform: translateX(-50%);
                }
                50%{
                    transform: translateX(-100%);
                }
                75%{
                    transform: translateX(-50%);
                }
                100%{
                    transform: translateX(0%);
                }
            }

            /*.p-animation-active{
                transform: translateX(-200%);
                transition-duration: var(--duration);
                transition-timing-function: linear;
                transition-delay: 2s;
            }

            .p-animation-active-reverse{
                transform: translateX(200%);
                transition-duration: var(--duration);
                transition-timing-function: linear;
            }*/

            
            
        }
    }
}