@import "../../generalVariables.scss";

.container{
    background-color: black;
    display: flex;
    height: 12vh;
    width: 100%;

    .container__folder{
        align-items: center;
        padding-left: 7px;
        display: flex;
        height: 100%;

        img{
            border-radius: 5px;
            height: 80%;
            object-fit: contain;
        }

        .container__folder__band{
            display: flex;
            flex-direction: column;
            height: 80%;
            justify-content: space-around;
            margin-left: 2rem;
            overflow-x: hidden;
            width: 20rem;

            p{
                font-family: $main-title;
                width: 100%;
                white-space: nowrap;
            }

            p:first-child{
                color: $white-font-color;
                transform-box: border-box;
            }
           
            p:nth-child(2){
                color: $grey-font;
                font-size: small;
            }
            .p-animation-active{
                transform: translateX(-200%);
                transition-duration: 10s;
            }
            
        }
    }
}