@import "../../../generalMixins.scss";
@import "../../../generalVariables.scss";

.container{
    @include left__menu__containers(20%);

    .container__link{
        align-items: center;
        background-color: transparent;
        border: none;
        color: $grey-font;
        display: flex;
        font-family: $main-title;
        font-size: 1em;
        height: 45%;
        text-decoration: none;
        width: 95%;

        .container__icon{
            color: $grey-font;
            margin: 0 10px 0 10px;
        }
    }

    .container__button-active {
        color: $white-font-color;
        .container__icon{
            @extend .container__button-active
        }
    }

    .container__link:hover{
        cursor: pointer;
        opacity: 50%;
        transition-duration: 0.6s;
        transition-timing-function: ease-in-out;
        
        .container__icon{
            cursor: pointer;
            opacity: 50%;
            transition-duration: 0.6s;
            transition-timing-function: ease-in-out;
        }
    }    
}

