@import "../../../generalMixins.scss";
@import "../../../generalVariables.scss";


.container{
    display: flex;
    flex-direction: column;
    height: 50%;
    overflow: auto;
    width: 100%;

    

    .container__header{
        @include row;

        background-color: $secondary-background;
        border-bottom: solid $hover-grey 1px;
        height: 2rem;


        color: $white-font-color;
        position: fixed;

        th{
            @include all__cells;

            span{
                cursor: pointer;
            }
        }

        th:first-child{
            @include row__first__cell;
        }

        th:nth-child(2){
            @include row__second__cell;
        }

        th:nth-child(3){
            @include row__third__cell
        }

        th:nth-child(4){
            @include row__forth__cell;
        }

    }

    .container__body{
        margin-top: 3rem;

        .container__tr{
            @include row;
            padding-bottom: 1rem;

            
            td:first-child{
                @include row__first__cell;
                color: $grey-font;
            }
    
            td:nth-child(2){
                @include row__second__cell;
                
                display: flex;

                img{
                    object-fit: contain;
                    width: 3.5rem;
                }

                div{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    
                    p{
                        color: $grey-font;
                        margin-left: 1rem;
                    }

                    p:first-child{
                        color: $white-font-color;
                        font-size: 1rem;
                    }

                }
            }

            td:nth-child(3){
                @include row__third__cell;
                color: $grey-font;
            }

            td:nth-child(4){
                @include row__forth__cell;
                color: $grey-font;
            }

            td:nth-child(5){
                color: $grey-font;
            }
        }
    }

    
  
    
}

