@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

//fonts

$white-font-color: white;
$main-title:'Lato', sans-serif;

//colors
$spotify-green: rgb(52, 190, 101);
$spotify-green-hover:rgb(68 231 125);
