@import "./generalVariables.scss";

//fonts

@mixin white__spotify__font($font-size: 15px){
    color: $white-font-color;
    font-size: $font-size;
    font-weight: 800;

}

//hovers

@mixin buttons{
    opacity: 50%;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
}

//containers

@mixin basic__centered__container{
    align-items: center;
    display: flex;
    justify-content: center;    
}

@mixin left__menu__containers($height-size: auto){
    @include grey__box;
    align-items: center;
    flex-direction: column;
    height: $height-size;
    justify-content: center;
    width: 100%;
}

@mixin grey__box{
    background-color: $secondary-background;
    border-radius: 10px;
    display: flex;
}

//Table mixins

@mixin row{
    font-family: $main-title;
    display: flex;
    padding-left: 2rem;
    width: 100%;
}

@mixin all__cells{
    font-size: .8rem;
    text-align: start;
}


@mixin row__first__cell{
    width: 2rem;
}

@mixin row__second__cell{
    width: 20rem;
}

@mixin row__third__cell{
    width: 20rem;
}

@mixin row__forth__cell{
    width: 13rem;
}





