@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

//fonts

$white-font-color: white;
$main-title:'Lato', sans-serif;
$gray-font: rgb(156, 150, 150);

//colors
$spotify-green: rgb(52, 190, 101);
$spotify-green-hover:rgb(68 231 125);
$main-background: black;
$secondary-background: rgb(19, 17, 17)
