@import "./generalVariables.scss";

//fonts

@mixin white__spotify__font($font-size: 15px){
    color: $white-font-color;
    font-size: $font-size;
    font-weight: 800;

}

//containers

@mixin basic__centered__container{
    align-items: center;
    display: flex;
    justify-content: center;    
}

@mixin left__menu__containers($height-size: auto){
    align-items: center;
    background-color: $secondary-background;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: $height-size;
    justify-content: center;
    width: 100%;
}


