@import "../../generalVariables.scss";
@import "../../generalMixins.scss";

.container{
    background-color: $main-background;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 5vh;
    width: 100%;
}